extends base.jade
block content
    - page.posts.each(function(chapter) {
    article.article
        header.header
          h1= chapter.title
        !=chapter.content
    - })
    if page.next
        a.next(href=url_for(page.next_link)) &larr;
    if page.prev
        a.prev(href=url_for(page.prev_link)) &rarr;

